# Backend API Configuration
BACKEND_URL=http://localhost:8000

# Next.js Configuration
NEXT_PUBLIC_API_URL=http://localhost:8000

# Geoapify API Key
NEXT_PUBLIC_GEOAPIFY_KEY=your_geoapify_key_here

# OpenWeather API Key
NEXT_PUBLIC_OPENWEATHER_KEY=67bf08af748b4b6b41a23fd552472824


# Ollama Configuration (Optional)
OLLAMA_BASE_URL=http://localhost:11434
OLLAMA_MODEL=llama3.2

# Gemini Vision
GEMINI_API_KEY=AIzaSyCM8GzTukw_EryS-2gwhM-N12s_HsFzhk4